@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: myFirstFont;
  src: url('./fonts/GeistVF.woff');
}
body {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.06rem;
  background-color: black;
  color: white;
}
.Navbar{
  position: fixed;
  z-index: 999;
}
ul{
  display: flex;
  justify-content: end;
  padding-top: 3%;
  padding-right: 3%;
  gap: 1rem;
}
li{
  cursor: pointer;
  padding: 10px;
  transition: transform 200ms;
}
li:hover{
  background-clip: text;
  transform: translateY(-0px);
}
ul .Logo{
  position: absolute;
  left: 0px;
  transform: translateY(-50%);
  margin: 20px;
}
.typing{
  font-weight: 700;
  background: linear-gradient(120deg,rgb(61, 107, 255),rgba(255, 56, 212, 0.97));
  background-clip: text;
  color: rgb(0 0 0 / 10%);
}
.Home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  row-gap: 2rem;
  margin-left: 5%;
  height: 85dvh;
  font-size: larger;
}