@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: myFirstFont;
  src: url('./fonts/GeistVF.woff');
}
@import url('https://unpkg.com/leaflet@1.5.1/dist/leaflet.css');
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background: linear-gradient(120deg,rgb(61, 107, 255),rgba(255, 56, 212, 0.97));
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(120deg,rgba(61, 106, 255, 0.612),rgba(255, 56, 212, 0.571));
}
*{
  scroll-behavior: smooth;
}
body {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.06rem;
  background-color: black;
  color: white;
  overflow-x: hidden;
}
.heading{
  color: rgb(0 0 0 / 10%);
  background: linear-gradient(120deg,rgb(61, 107, 255),rgba(255, 56, 212, 0.97));
  background-clip: text;
  font-weight: bold;
}
.register:hover{
  background: linear-gradient(120deg,rgb(61, 107, 255),rgba(255, 56, 212, 0.97));
  font-weight: bold;
}
.Navbar{
  z-index: 10;
}
.register{
  background: linear-gradient(120deg,rgba(61, 106, 255, 0.568),rgba(255, 56, 212, 0.532));
  font-weight: bold;
  cursor: pointer;
  padding: 9px;
  border-radius: 5px;
}
.ul{
  display: flex;
  justify-content: end;
  padding:10px;
  gap: 1rem;
}
.li{
  cursor: pointer;
  padding: 10px;
}
.li::before{
  content: "";
}
.li:hover{
  color: rgb(0 0 0);
  border-radius: 15px;
  background: linear-gradient(120deg,rgb(61, 107, 255),rgba(255, 56, 212, 0.97));
  font-weight: 400;
}
.Logo{
  position: absolute;
  left: 0px;
  transform: translateY(-50%);
  margin: 20px;
  margin-top: 40px;
}
.typing{
  font-weight: 700;
  background: linear-gradient(120deg,rgb(61, 107, 255),rgba(255, 56, 212, 0.97));
  background-clip: text;
  color: rgb(0 0 0 / 10%);
}
.Home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 100dvw;
  font-size: larger;
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    row-gap: 2rem;
    margin-left: 5%;
    height: 100dvh;
    font-size: larger;
} 
#home{
  background: url('../public/bg.png');
  background-position: center;
  height: 100dvh;
  width: 100dvw;
  background-repeat: no-repeat;
}
/* .box{
  align-items: center;
  margin: 5px;
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 10px;
  background-color:rgba(255 ,255, 255 ,0.05) ;
  backdrop-filter: blur(10px);
  box-shadow:  4px 1px 40px rgba(61, 106, 255, 0.765), -7px -10px 40px rgba(255, 56, 212, 0.66);
  width: 180px;
  text-align: center;
  position: fixed;
  right: 8%;
  z-index: 999;
} */
.eventlist{
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  row-gap: 10px;
  height: 170px;
  border: 1px solid white;
  width: 400px;
  font-weight:200;
  letter-spacing: 0.1rem;
  transition: all 300ms;
}
li::before{
  content: "";
  display: block;
  position: relative;
  inset: initial;
  width: 30px;
  border: 0.5px solid white;
  height:  30px;
  background: linear-gradient(120deg,rgb(61, 107, 255),rgba(255, 56, 212, 0.97));
  border-radius: 50%;
  border-color: white;
  backdrop-filter: blur(10px);
  transform: translate(185px,85px);
  z-index: 999;
} 
li::after{
  content: "";
  display: block;
  position: absolute;
  inset: initial;
  width: 2px;
  height:  285px;
  background: white;
  transform: translate(198px,-100px);

}
li:nth-last-child(1)::after{
  height:0px;
}
li:nth-child(2n+1) .card{
  transform: translateX(-70%);
}

li:nth-child(2n) .card{
  transform: translateX(70%);
}
.card:hover {
  box-shadow:  4px 1px 40px rgba(61, 106, 255, 0.65), -7px -10px 40px rgba(255, 56, 212, 0.55);
}
.prnofilecard{
  box-shadow:  4px 1px 30px rgba(61, 106, 255, 0.55), -7px -10px 30px rgba(255, 56, 212, 0.45);
}
.more{
  background: rgba(255, 255, 255, 0.116);
  padding:5px;
  border: 0.5px solid white;
  border-radius: 5px;
  transform: translateY(30%);
}
.more:hover{
  font-weight: 300;
  background: rgba(255, 255, 255, 0.416);
}
.drop{
  background-color: #333;
}
.dialogue{
  background: linear-gradient(120deg,rgba(61, 106, 255, 0.24),rgba(255, 56, 212, 0.263));
  backdrop-filter: blur(10px);
  z-index: 999;
}
.profilecard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  row-gap: 10px;
  padding: 10px;
  
  font-weight:200;
  letter-spacing: 0.1rem;

}
.map{
  color: #333; text-decoration: underline; font-size: 14px; font-family: Arial, Helvetica, sans-serif; text-align: right;
}
#first{
  padding-top: 30%;
}
.mapp{
  color: #333; font-size: 14px; font-family: Arial, Helvetica, sans-serif; text-align: right; padding: 10px;
}
@media only screen and (max-width: 640px) {
  /* For mobile phones: */
  #home{
    background: url('../public/bg phone.png');
    height: 100dvh;
    width: 100dvw;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .li:hover{
    color: rgb(255, 255, 255);
    border-radius: 0px;
    background: transparent;
    font-weight: 300;
  }
  /* .Home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    row-gap: 2rem;
    font-size: larger;
    background-image: url('../public/bg\ phone.png');
    backdrop-filter: "brightness(10px)";
    background-repeat: no-repeat;
    background-size:100%;
    background-size: fill;
    background-position: 100%;
    height: 100dvh;
  } */
  li:hover{
    color: white;
  }
  li{
    cursor: pointer;
    padding: 0%;
  }
  
li::before{
  content: "";
  display: hidden;
  position: relative;
  inset: initial;
  width: 0px;
  border: 0px solid white;
  height:  0px;
  background: linear-gradient(120deg,rgb(61, 107, 255),rgba(255, 56, 212, 0.97));
  border-radius: 50%;
  border-color: white;
  backdrop-filter: blur(10px);
  transform: translate(185px,85px);
  z-index: 0;
} 

li::after{
  content: "";
  display: block;
  width: 0px;
  height:  0px;

}
li:nth-last-child(1)::after{
  height:0px;
}
li:nth-child(2n+1) .card{
  transform: translateX(0%);
}

li:nth-child(2n) .card{
  transform: translateX(0%);
}

body {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.06rem;
  background-color: black;  
  height: max-content;
  color: white;
  overflow-x: hidden;
}
}

.grad1{
  height: 90%;
  width: 700px;
  border: 0px;
  border-radius: 50%;
  background-color: #39179e73;
  filter: blur(290px);
  top: 0px;
  overflow-x: hidden;
  transform: translate(0%,-50%);
  z-index: -5;
  overflow: hidden;
}
.bg{
  position-anchor: initial;
}
.grad2{
  height: 30%;
  width: 50%;
  background-color: #8cc2d940;
  filter: blur(1000px);
  bottom: 0px;
  left: 0px;
  z-index: -5;
}
.grad3{
  height: 70%;
  width: 50%;
  background-color: #52b69a65;
  filter: blur(1000px);
  z-index: -5;
  top: 0;
  left: 0;
}
.grad4{
  height: 60%;
  width: 60%;
  position: relative;
  background-color: #52b69a40;
  filter: blur(1000px);
  z-index: -4;
  bottom: 0;
  right: 0;
}
table{
  border-color:white;
  border-style:solid;
  border-width:1px;
}
.tg  {
  border-collapse:collapse;
  border-spacing:0;
}
.tg td{
  border-right:1px solid white;
  font-family:Arial, sans-serif;
  font-size:14px;
  overflow:hidden;
  padding:10px 20px;
  word-break:normal;
  text-align: center;
}
.tg th{
  border-color:white;
  border-style:solid;
  border-width:1px;
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  overflow:hidden;
  padding:20px 20px;
  word-break:normal;
  text-align: center;
}
.tg .tg-0lax{
  text-align:left;
  vertical-align:top
}
.col{
  border-right: 1px solid white;
}
