@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: myFirstFont;
  src: url('./fonts/GeistVF.woff');
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background: linear-gradient(120deg,rgb(61, 107, 255),rgba(255, 56, 212, 0.97));
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(120deg,rgba(61, 106, 255, 0.612),rgba(255, 56, 212, 0.571));
}
*{
  scroll-behavior: smooth;
}
body {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.06rem;
  background-color: black;
  color: white;
}
.heading{
  color: rgb(0 0 0 / 10%);
  background: linear-gradient(120deg,rgb(61, 107, 255),rgba(255, 56, 212, 0.97));
  background-clip: text;
  font-weight: bold;
}
.Navbar{
  z-index: 999;
}
.ul{
  display: flex;
  justify-content: end;
  padding-top: 3%;
  padding-right: 3%;
  gap: 1rem;
}
.li{
  cursor: pointer;
  padding: 10px;
  transition: transform 200ms;
}
.li::before{
  content: "";
}
.li:hover{
  color: rgb(0 0 0 / 10%);
  background: linear-gradient(120deg,rgb(61, 107, 255),rgba(255, 56, 212, 0.97));
  background-clip: text;
}
.Logo{
  position: absolute;
  left: 0px;
  transform: translateY(-50%);
  margin: 20px;
  margin-top: 40px;
}
.typing{
  font-weight: 700;
  background: linear-gradient(120deg,rgb(61, 107, 255),rgba(255, 56, 212, 0.97));
  background-clip: text;
  color: rgb(0 0 0 / 10%);
}
.Home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  row-gap: 2rem;
  margin-left: 5%;
  height: 85dvh;
  font-size: larger;
}
.box{
  align-items: center;
  margin: 5px;
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 10px;
  background-color:rgba(255 ,255, 255 ,0.05) ;
  backdrop-filter: blur(10px);
  box-shadow:  4px 1px 40px rgba(61, 106, 255, 0.765), -7px -10px 40px rgba(255, 56, 212, 0.66);
  width: 180px;
  text-align: center;
  position: absolute;
  right: 8%;
  z-index: 999;
}
.eventlist{
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  row-gap: 10px;
  height: 170px;
  border: 1px solid white;
  width: 400px;
  font-weight:200;
  letter-spacing: 0.1rem;
  transition: all 300ms;
}
li::before{
  content: "";
  display: block;
  position: relative;
  inset: initial;
  width: 30px;
  border: 0.5px solid white;
  height:  30px;
  background: linear-gradient(120deg,rgb(61, 107, 255),rgba(255, 56, 212, 0.97));
  border-radius: 50%;
  border-color: white;
  backdrop-filter: blur(10px);
  transform: translate(185px,85px);
  z-index: 999;
} 
li::after{
  content: "";
  display: block;
  position: absolute;
  inset: initial;
  width: 2px;
  height:  285px;
  background: white;
  transform: translate(198px,-100px);

}
li:nth-last-child(1)::after{
  height:0px;
}
li:nth-child(2n+1) .card{
  transform: translateX(-70%);
}

li:nth-child(2n) .card{
  transform: translateX(70%);
}
.card:hover {
  box-shadow:  4px 1px 40px rgba(61, 106, 255, 0.65), -7px -10px 40px rgba(255, 56, 212, 0.55);
}
.profilecard{
  box-shadow:  4px 1px 40px rgba(61, 106, 255, 0.65), -7px -10px 40px rgba(255, 56, 212, 0.55);
}
.more{
  background: rgba(255, 255, 255, 0.116);
  padding:5px;
  border: 0.5px solid white;
  border-radius: 5px;
  transform: translateY(30%);
}
.more:hover{
  font-weight: 300;
  background: rgba(255, 255, 255, 0.416);
}
.dialogue{
  background: linear-gradient(120deg,rgba(61, 106, 255, 0.24),rgba(255, 56, 212, 0.263));
  backdrop-filter: blur(10px);
  z-index: 999;
}
.profilecard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  row-gap: 10px;
  padding: 10px;
  border: 1px solid white;
  font-weight:200;
  letter-spacing: 0.1rem;

}
@media only screen and (max-width: 640px) {
  /* For mobile phones: */
  li:hover{
    color: white;
  }
  li{
    cursor: pointer;
    padding: 0%;
  }
  
li::before{
  content: "";
  display: hidden;
  position: relative;
  inset: initial;
  width: 0px;
  border: 0px solid white;
  height:  0px;
  background: linear-gradient(120deg,rgb(61, 107, 255),rgba(255, 56, 212, 0.97));
  border-radius: 50%;
  border-color: white;
  backdrop-filter: blur(10px);
  transform: translate(185px,85px);
  z-index: 0;
} 

li::after{
  content: "";
  display: block;
  width: 0px;
  height:  0px;

}
li:nth-last-child(1)::after{
  height:0px;
}
li:nth-child(2n+1) .card{
  transform: translateX(0%);
}

li:nth-child(2n) .card{
  transform: translateX(0%);
}
}
